<turbo-stream action="replace" target=<%= dom_id(@comment) %>>
    <template>
        <turbo-frame id=<%= dom_id(@comment) %> class="comment">
            <div class="comment_header">
                <%= image_tag get_avatar(@comment.user), width: 30, height: 30, class: "avatar"%>
                <p><%= @comment.user.username %> commented <%= time_ago_in_words( @comment.created_at )%> ago
                <% if @comment.created_at != @comment.updated_at%>
                    (edited <%= time_ago_in_words(@comment.updated_at) %> ago)
                <% end %>
                </p>
            </div>
            <hr>
            <p><%= @comment.body%></p>
            <% if current_user.id == @comment.user.id%>
                <%= link_to "edit", edit_comment_path(@comment), data: {turbo_frame: "modal"}%>
                <%= link_to "delete", comment_path(@comment), data: {turbo_method: :delete} %>
            <% end %>
        </turbo-frame>
    </template>
</turbo-frame>