
<p>comments: </p>
<div id=<%= dom_id(post)+"_comments" %> class="post-comments">
    <% comments.order("created_at desc").each do |c| %>
        <turbo-frame id=<%= dom_id(c) %> class="comment">
            <div class="comment_header">
                <%= image_tag get_avatar(c.user), width: 30, height: 30, class: "avatar"%>
                <p><%= c.user.username %> commented <%= time_ago_in_words( c.created_at )%> ago
                <% if c.created_at != c.updated_at%>
                    (edited <%= time_ago_in_words(c.updated_at) %> ago)
                <% end %>
                </p>
            </div>
            <hr>
            <p><%= c.body%></p>
            <% if current_user.id == c.user.id%>
                <%= link_to "edit", edit_comment_path(c), data: {turbo_frame: "modal"}%>
                <%= link_to "delete", comment_path(c), data: {turbo_method: :delete} %>
            <% end %>
        </turbo-frame>
    <% end %>
</div>