
<h2><%= post.title %></h2>
<hr>
<p><%= post.body %></p>
<hr>
<div class="options">

    <% if !current_user.liked_post.include?(post)%>
        <%= link_to pluralize(post.like.size, "Like"), post_likes_path(post), data: {turbo_method: :post}%>
    <% else %>
        <%= link_to pluralize(post.like.size, "Like"), like_path(post), class: "active", data: {turbo_method: :delete}%>
    <%end%>

    <%= link_to "Comment", new_post_comment_path(post), data: {turbo_frame: "modal"}%>
    <% if current_user.id == post.user.id %>
        <%= link_to "Edit", edit_post_path(post)%>
        <%= link_to "Delete", post_path(post), data: {turbo_method: :delete} %>
    <%end%>

</div>