<turbo-frame id="modal" class="modal">
    <div class="form" data-controller="modal">
        <h1> Create new post </h1>
        <%= form_with(model: @post, local: true) do |f| %>
            <%= f.label :title %>
            <%= f.text_field :title %>
            <%= f.label :body %>
            <%= f.text_area :body %>
            <%= f.file_field :image %>
            <%= f.submit "Post"%>
        <% end %>
        <button class="textBtn danger" data-action="click->modal#closeModal" >Close</button>
    </div>
</turbo-frame>