<!DOCTYPE html>
<html>
  <head>
    <title>Fakebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1> FakeBook </h1>
      <div>
        <% if user_signed_in? %>
          <%= form_with(url: search_path, local: true, method: :get, data: {turbo_frame: "container", controller: "search"}) do |f|%>
              <%= f.text_field :search %>
          <% end %>
        <% end %>
      </div>
      <div class="navMenu">
        <% if user_signed_in? %>
            <%= link_to "Friends", friends_index_path %>
            <%= link_to "Home", root_path %>
            <%= link_to "New", new_post_path, data: {turbo_frame: "modal", action: "advance"} %>
            <%= link_to "Sign-Out", destroy_user_session_path, data: {turbo_method: :delete}%>
            <%= link_to current_user.username, edit_user_registration_path %>
          <%= image_tag get_avatar(current_user), width: 30, height: 30, class: "avatar" %>
        <% end %>
      </div>
    </header>
    
    <turbo-frame id="container" class="container">
      <turbo-frame id="modal" class="modal"></turbo-frame>
        <%= yield %>
    </turbo-frame>

  </body>
</html>
